@model GDI.Models.pedido_cabecalho

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Deseja realmente deletar este produto?</h3>
<div>
    <h4>pedido_cabecalho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valor_total_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtde_itens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtde_itens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
